<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.question.dao.AspectDetialMapper" >
  <resultMap id="BaseResultMap" type="com.swust.question.entity.AspectDetial" >
    <id column="detial_id" property="detialId" jdbcType="INTEGER" />
    <result column="detial_name" property="detialName" jdbcType="VARCHAR" />
    <result column="aspect_id" property="aspectId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    detial_id, detial_name, aspect_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from aspect_detial
    where detial_id = #{detialId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from aspect_detial
    where detial_id = #{detialId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swust.question.entity.AspectDetial" >
    insert into aspect_detial (detial_id, detial_name, aspect_id
      )
    values (#{detialId,jdbcType=INTEGER}, #{detialName,jdbcType=VARCHAR}, #{aspectId,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.swust.question.entity.AspectDetial" >
    insert into aspect_detial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detialId != null" >
        detial_id,
      </if>
      <if test="detialName != null" >
        detial_name,
      </if>
      <if test="aspectId != null" >
        aspect_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detialId != null" >
        #{detialId,jdbcType=INTEGER},
      </if>
      <if test="detialName != null" >
        #{detialName,jdbcType=VARCHAR},
      </if>
      <if test="aspectId != null" >
        #{aspectId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swust.question.entity.AspectDetial" >
    update aspect_detial
    <set >
      <if test="detialName != null" >
        detial_name = #{detialName,jdbcType=VARCHAR},
      </if>
      <if test="aspectId != null" >
        aspect_id = #{aspectId,jdbcType=TINYINT},
      </if>
    </set>
    where detial_id = #{detialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swust.question.entity.AspectDetial" >
    update aspect_detial
    set detial_name = #{detialName,jdbcType=VARCHAR},
      aspect_id = #{aspectId,jdbcType=TINYINT}
    where detial_id = #{detialId,jdbcType=INTEGER}
  </update>
</mapper>