<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.question.dao.AspectMapper" >
  <resultMap id="BaseResultMap" type="com.swust.question.entity.Aspect" >
    <id column="aspect_id" property="aspectId" jdbcType="TINYINT" />
    <result column="aspect_name" property="aspectName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    aspect_id, aspect_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from aspect
    where aspect_id = #{aspectId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from aspect
    where aspect_id = #{aspectId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.swust.question.entity.Aspect" >
    insert into aspect (aspect_id, aspect_name)
    values (#{aspectId,jdbcType=TINYINT}, #{aspectName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.swust.question.entity.Aspect" >
    insert into aspect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aspectId != null" >
        aspect_id,
      </if>
      <if test="aspectName != null" >
        aspect_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aspectId != null" >
        #{aspectId,jdbcType=TINYINT},
      </if>
      <if test="aspectName != null" >
        #{aspectName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swust.question.entity.Aspect" >
    update aspect
    <set >
      <if test="aspectName != null" >
        aspect_name = #{aspectName,jdbcType=VARCHAR},
      </if>
    </set>
    where aspect_id = #{aspectId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swust.question.entity.Aspect" >
    update aspect
    set aspect_name = #{aspectName,jdbcType=VARCHAR}
    where aspect_id = #{aspectId,jdbcType=TINYINT}
  </update>
</mapper>