<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.question.dao.StudioMapper" >
  <resultMap id="BaseResultMap" type="com.swust.question.entity.Studio" >
    <id column="studio_id" property="studioId" jdbcType="INTEGER" />
    <result column="studio_title" property="studioTitle" jdbcType="VARCHAR" />
    <result column="studio_information" property="studioInformation" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    studio_id, studio_title, studio_information
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from studio
    where studio_id = #{studioId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from studio
    where studio_id = #{studioId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swust.question.entity.Studio" >
    insert into studio (studio_id, studio_title, studio_information
      )
    values (#{studioId,jdbcType=INTEGER}, #{studioTitle,jdbcType=VARCHAR}, #{studioInformation,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.swust.question.entity.Studio" >
    insert into studio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studioId != null" >
        studio_id,
      </if>
      <if test="studioTitle != null" >
        studio_title,
      </if>
      <if test="studioInformation != null" >
        studio_information,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studioId != null" >
        #{studioId,jdbcType=INTEGER},
      </if>
      <if test="studioTitle != null" >
        #{studioTitle,jdbcType=VARCHAR},
      </if>
      <if test="studioInformation != null" >
        #{studioInformation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swust.question.entity.Studio" >
    update studio
    <set >
      <if test="studioTitle != null" >
        studio_title = #{studioTitle,jdbcType=VARCHAR},
      </if>
      <if test="studioInformation != null" >
        studio_information = #{studioInformation,jdbcType=VARCHAR},
      </if>
    </set>
    where studio_id = #{studioId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swust.question.entity.Studio" >
    update studio
    set studio_title = #{studioTitle,jdbcType=VARCHAR},
      studio_information = #{studioInformation,jdbcType=VARCHAR}
    where studio_id = #{studioId,jdbcType=INTEGER}
  </update>
</mapper>