<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.question.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="com.swust.question.entity.Tag" >
    <id column="tag_id" property="tagId" jdbcType="TINYINT" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, tag_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from tag
    where tag_id = #{tagId,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.swust.question.entity.Tag" >
    insert into tag (tag_id, tag_name)
    values (#{tagId,jdbcType=TINYINT}, #{tagName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.swust.question.entity.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=TINYINT},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swust.question.entity.Tag" >
    update tag
    <set >
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swust.question.entity.Tag" >
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=TINYINT}
  </update>
</mapper>