<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swust.question.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.swust.question.entity.User" >
    <id column="open_Id" property="openId" jdbcType="INTEGER" />
    <result column="tell_number" property="tellNumber" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="user_gender" property="userGender" jdbcType="BIT" />
    <result column="stu_id" property="stuId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    open_Id, tell_number, class_name, user_gender, stu_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where open_Id = #{openId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where open_Id = #{openId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swust.question.entity.User" >
    insert into user (open_Id, tell_number, class_name, 
      user_gender, stu_id)
    values (#{openId,jdbcType=INTEGER}, #{tellNumber,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, 
      #{userGender,jdbcType=BIT}, #{stuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.swust.question.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        open_Id,
      </if>
      <if test="tellNumber != null" >
        tell_number,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="userGender != null" >
        user_gender,
      </if>
      <if test="stuId != null" >
        stu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=INTEGER},
      </if>
      <if test="tellNumber != null" >
        #{tellNumber,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null" >
        #{userGender,jdbcType=BIT},
      </if>
      <if test="stuId != null" >
        #{stuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swust.question.entity.User" >
    update user
    <set >
      <if test="tellNumber != null" >
        tell_number = #{tellNumber,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null" >
        user_gender = #{userGender,jdbcType=BIT},
      </if>
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=INTEGER},
      </if>
    </set>
    where open_Id = #{openId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swust.question.entity.User" >
    update user
    set tell_number = #{tellNumber,jdbcType=INTEGER},
      class_name = #{className,jdbcType=VARCHAR},
      user_gender = #{userGender,jdbcType=BIT},
      stu_id = #{stuId,jdbcType=INTEGER}
    where open_Id = #{openId,jdbcType=INTEGER}
  </update>
</mapper>